<!-- ###TEMPLATE_RSS2### begin -->###XML_DECLARATION###
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
		<!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link>
		<description>###SITE_DESCRIPTION###</description>
		###SITE_LANG###
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMG###</url>
			<link>###SITE_LINK###</link>
			###IMG_W###
			###IMG_H###
			<description>###SITE_DESCRIPTION###</description>
		</image>
		<generator>TYPO3 - get.content.right</generator>
		<docs>http://blogs.law.harvard.edu/tech/rss</docs>
		###SITLOR_COPYRIGHT###
		###SITLOR_WEBMASTER###
		###SITLOR_MANAGINGEDITOR###
		<!-- ###HEADER### end -->
		<!-- ###CONTENT### begin -->
			<!-- ###SITLOR### begin -->
			<item>
				<title>###SITLOR_TITLE###</title>
				<link>###SITLOR_LINK###</link>
				<description>###SITLOR_SUBHEADER###</description>
				###PUBDATE###
			</item>
			<!-- ###SITLOR### end -->
		<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS2### end -->